<a href="https://colab.research.google.com/github/aomiglionni/datascience_python/blob/master/P4DS4D%3B_05%3B_Dataset_Load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open("Colors.txt",'rb') as
open_file:
  print 'Colors.txt content:\n' +
open_file.read()

In [ ]:
with open("Colors.txt",'rb') as
open_file:
  for observation in open_file:
    print 'Reading Data: ' +
observation

SLIDE 22

In [ ]:
n = 2
with open("Colors.txt" 'rb') as
open_file:
  for j, observation in
enumerate(open_file):
  if j % n==0:
    print('Reading Line: ' +
str(j) +
    ' Content: ' + observation)

SLIDE 24

In [ ]:
from random import random
sample_size = 0.25
with open("Colors.txt",'rb') as
open_file:
  for j, observation in
enumerate(open_file):
  if random()<=sample_size:
    print('Reading Line: ' +
str(j) +
    ' Content: ' + observation)

SLIDE 32

In [ ]:
import pandas as pd
color_table =
pd.io.parsers.read_table("Colors.txt")
print color_table

SLIDE 39

In [ ]:
import pandas as pd
titanic =
pd.io.parsers.read_csv("Titanic.csv")
X = titanic[['age']]
print X

SLIDE 43

In [ ]:
import pandas as pd
xls = pd.ExcelFile("Values.xls")
trig_values = xls.parse('Sheet1',
index_col=None, na_values=['NA'])
print trig_values

SLIDE 47

In [ ]:
from skimage.io import imread
from skimage.transform import resize
from matplotlib import pyplot as plt
import matplotlib.cm as cm
example_file =
("http://upload.wikimedia.org/" +
"wikipedia/commons/7/7d/Dog_face.png")
image = imread(example_file, as_grey=True)
plt.imshow(image, cmap=cm.gray)
plt.show()

SLIDE 63

In [ ]:
import pymongo
import pandas as pd
from pymongo import Connection
connection = Connection()
db = connection.database_name
input_data = db.collection_name
data =
pd.DataFrame(list(input_data.find()))