<a href="https://colab.research.google.com/github/aomiglionni/datascience_python/blob/master/P4DS4D%3B_06%3B_Getting_Your_Dara_in_Shape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SLIDE 29

In [ ]:
from lxml import objectify
import pandas as pd

xml =
objectify.parse(open('XMLData2.xml'))
root = xml.getroot()
df = pd.DataFrame(columns=('Number',
'String','Boolean'))

for i in range(0,4):
  obj = root.getchildren()
[i].getchildren()
row = dict(zip(['Number','String',
'Boolean'], [obj[0].text, obj[1].text,
obj[2].text]))
  row_s = pd.Series(row)
  row_s.name = i
  df = df.append(row_s)
search = pd.DataFrame.duplicated(df)

print df
print
print search[search == True]

SLIDE 34

In [ ]:
from lxml import objectify
import pandas as pd

xml =
objectify.parse(open('XMLData2.xml'))
root = xml.getroot()
df = pd.DataFrame(columns=('Number',
'String','Boolean'))

for i in range(0,4):
  obj = root.getchildren()
[i].getchildren()
  row = dict(zip(['Number','String',
'Boolean'], [obj[0].text, obj[1].text,
obj[2].text]))
  row_s = pd.Series(row)
  row_s.name = i
  df = df.append(row_s)
print df.drop_duplicates()

SLIDE 39

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [0,0,0,0,0,1,1],
          'B': [1,2,3,5,4,2,5],
          'C': [5,3,4,1,1,2,3]})
a_group_desc = df.groupby('A').describe()
print a_group_desc

SLIDE 52

In [ ]:
import pandas as pd
car_colors = pd.Series(['Blue','Red',
'Green'], dtype='category')

car_data = pd.Series(
pd.Categorical(['Yellow','Green','Red',
'Blue','Purple'],
categories=car_colors, ordered=False))

find_entries = pd.isnull(car_data)

print car_colors
print
print car_data
print
print find_entries[find_entries == True]

SLIDE 58

In [ ]:
import pandas as pd

car_colors = pd.Series(['Blue','Red',
'Green'],
                    dtype='category')
car_data = pd.Series(
  pd.Categorical(
  ['Blue','Green','Red','Blue',
'Red'],
  categories=car_colors, ordered=False))

car_colors.cat.categories = ["Purple",
"Yellow","Mauve"]
car_data.cat.categories = car_colors

print car_data

SLIDE 61

In [ ]:
import pandas as pd
car_colors = pd.Series(['Blue','Red',
'Green'],
                    dtype='category')
car_data = pd.Series(
pd.Categorical(
            ['Blue','Green','Red',
'Green','Red','Green'],
            categories=car_colors,
ordered=False))
car_data.cat.categories = ["Blue_Red",
"Red","Green"]
print car_data.ix[car_data.isin(['Red'])]

car_data.ix[car_data.isin(['Red'])] =
'Blue_Red'

print
print car_data

SLIDE 69

In [ ]:
import datetime as dt

now = dt.datetime.now()

print str(now)
print now.strftime('%a, %d %B %Y')

SLIDE 72

In [ ]:
import datetime as dt

now = dt.datetime.now()
timevalue = now + dt.timedelta(hours=2)

print now.strftime('%H:%M:%S')
print timevalue.strftime('%H:%M:%S')
print timevalue - now

SLIDE 77

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series([1, 2, 3, np.NaN, 5, 6,
None])

print s.isnull()

print
print s[s.isnull()]

SLIDE 81

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series([1, 2, 3, np.NaN, 5, 6,
None])

print s.fillna(int(s.mean()))
print
print s.dropna()

SLIDE 86

In [ ]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import Imputer
s = pd.Series([1, 2, 3, np.NaN, 5, 6,
None])

imp = Imputer(missing_values='NaN',
strategy='mean', axis=0)
imp.fit([1, 2, 3, 4, 5, 6, 7])

x = pd.Series(imp.transform(s).tolist()
[0])

print x

SLIDE 96

In [ ]:
x = np.array([[[1, 2, 3], [4, 5, 6], [7,
8, 9],],
          [[11,12,13], [14,15,16],
[17,18,19],],
          [[21,22,23], [24,25,26],
[27,28,29]]])

print x[1,1]
print x[:,1,1]
print x[1,:,1]
print
print x[1:2, 1:2]

SLIDE 99

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [2,3,1],
    'B': [1,2,3],
    'C': [5,3,4]})
df1 = pd.DataFrame({'A': [4],
    'B': [4],
    'C': [4]})
df = df.append(df1)
df = df.reset_index(drop=True)
print df
df.loc[df.last_valid_index() + 1] = [5, 5,
5]
print
print df

df2 = pd.DataFrame({'D': [1, 2, 3, 4, 5]})

df = pd.DataFrame.join(df, df2)
print
print df

SLIDE 105

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [2,3,1],
    'B': [1,2,3],
    'C': [5,3,4]})
df = df.drop(df.index[[1]])
print df

df = df.drop('B', 1)
print
print df

SLIDE 109

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A': [2,1,2,3,3,5,4],
    'B': [1,2,3,5,4,2,5],
    'C': [5,3,4,1,1,2,3]})
df = df.sort_index(by=['A','B'],
ascending=[True, True])
df = df.reset_index(drop=True)
print df

index = df.index.tolist()
np.random.shuffle(index)
df = df.ix[index]
df = df.reset_index(drop=True)
print
print df

SLIDE 116

In [ ]:
import pandas as pd

df = pd.DataFrame({'Map': [0,0,0,1,1,2,2],
          'Values':
[1,2,3,5,4,2,5]})
df['S'] = df.groupby('Map')
['Values'].transform(np.sum)
df['M'] = df.groupby('Map')
['Values'].transform(np.mean)
df['V'] = df.groupby('Map')
['Values'].transform(np.var)

print df